body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#valor {
    font-size: 40px;
    margin: 20px;
}

button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}